<html>
	<body style="background-color:black;">
	<h1 align="center"> <font color="white"> Open, Free, Transparent Credit Score Service </font> </h1>
	<form name="username" action="" onsubmit="return validateForm()" method="post" >
			<font color="white">Username: </font>
		 	<input id="username" type ="text" name="username">
		<p>
			<font color="white">Password: </font> 
			<input id="password" type ="password" name="password">
		<p>

            <font color="white">First Name: </font> 
            <input id="firstName" type ="text" name="firstName">
        <p>

            <font color="white">Last Name: </font> 
            <input id="lastName" type ="text" name="lastName">
        <p>

            <font color="white">Email: </font> 
            <input id="email" type ="text" name="email">
        <p>

            <font color="white">Phone: </font> 
            <input id="phone" type ="text" name="phone">
        <p>

            <font color="white">Address: </font> 
        <p>
            <input id="addressLine1" type ="text" name="addressLine1">
        <p>
            <input id="addressLine2" type ="text" name="addressLine2">
        <p>    
            <font color="white">Zip Code:</font> 
            <input id="zipcode" type ="text" name="zipcode">
        <p>
            <font color="white">Months At Address:</font> 
            <input id="monthsAtAddress" type ="text" name="monthsAtAddress">
        <p>
            <font color="white">Drivers License Number:</font> 
            <input id="driversLicenseNumber" type ="text" name="driversLicenseNumber">
        <p>
            <font color="white">Drivers License State:</font> 
            <input id="driversLicenseState" type ="text" name="driversLicenseState">
        <p>
            <font color="white">Active Military:</font> 
            <input id="activeMilitary" name="activeMilitary" type="checkbox" checked="checked" />
        <p>
            <font color="white">Military Veteran:</font> 
            <input id="militaryVeteran" name="militaryVeteran" type="checkbox" checked="checked" />
        <p>
            <font color="white">Social Security Number:</font> 
            <input id="SSN" type ="text" name="SSN">
        <p>
            <font color="white">Financial Information:</font> 
        <p>
            <font color="white">Annual Income:</font> 
            <input id="income" type ="text" name="income">
        <p>
            <font color="white">Bank Name:</font> 
            <input id="bankName" type ="text" name="bankName">
    
        <p>
            <font color="white">Bank Routing Number:</font> 
            <input id="bankRoutingNumber" type ="text" name="bankRoutingNumber">

        <p>
            <font color="white">Bank Account Type:</font> 
            <input id="bankAccountType" type ="text" name="bankAccountType">
        
        <p>
            <font color="white">Bank Account Number:</font> 
            <input id="bankAccountNumber" type ="text" name="bankAccountNumber">

        <p>
            <font color="white">Employment Information:</font> 
        <p>
            <font color="white">Employer Name:</font> 
            <input id="employerName" type ="text" name="employerName">

        <p>
            <font color="white">Job Title:</font> 
            <input id="jobTitle" type ="text" name="jobTitle">
        <p>
        <input type="submit" value="Login">

	</form>	
</html>